/* мобилки */
@media (max-width: 768px) {
    .header__tablet-container {
        display: none;
    }

    .main-content {
        display: block;
    }

    .main-content__text {
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
    }

    .main-content__image {
        width: 100%;
    }

    .section__p {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.3px;
    }
}

/* планшеты */
@media (min-width: 768px) and (max-width: 1120px) {
    .main-content {
        display: flex;
        gap: 48px;
    }

    .main-content__text {
        width: 50%;
        margin-left: 25px;
    }

    .main-content__image {
        width: 50%;
        border-radius: 10px;
        margin-right: 25px;
    }

    .section__p_tablet {
        display: block;
    }

    .header__logo::before {
        display: inline-block;
    }

    .header__logo::after {
        display: none;
    }
}

/* десктоп */
@media (min-width: 1120px) {

    .header__group-right,
    .header__group-left {
        display: none;
    }

    .header {
        padding-top: 0;
        padding-bottom: 0;
    }

    .main-content__text {
        width: 50%;
        margin-left: 30px;
    }

    .main-content__image {
        width: 50%;
        border-radius: 10px;
        margin-right: 30px;
    }

    .desktop-buttons {
        display: flex;
    }

    .section__p_tablet {
        display: none;
    }

    .section__p_desktop {
        display: block;
    }
}
