/* мобилки */
@media (max-width: 768px) {
    .header__buttons--tablet {
        display: none;
    }

    .main__content {
        display: block;
    }

    .main__content_text {
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
    }

    .main__image {
        width: 100%;
    }

    .main__text-fr {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.3px;
    }
}

/* планшеты */
@media (min-width: 768px) and (max-width: 1120px) {
    .main__content {
        display: flex;
        gap: 48px;
    }

    .main__content_text {
        width: 50%;
        margin-left: 25px;
    }

    .main__image {
        width: 50%;
        border-radius: 10px;
        margin-right: 25px;
    }

    .main__text-fr--tablet {
        display: block;
    }

    .header__logo::before {
        display: inline-block;
    }

    .header__logo::after {
        display: none;
    }
}

/* десктоп */
@media (min-width: 1120px) {

    .header__group-right,
    .header__group-left {
        display: none;
    }

    .header {
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav-header__title {
        margin-left: 30px;
    }

    .nav__list {
        overflow-x: visible;
        flex-wrap: wrap;
        margin-right: 30px;
        margin-left: 30px;
        padding: 0;
    }

    .main__content_text {
        width: 50%;
        margin-left: 30px;
    }

    .main__image {
        width: 50%;
        border-radius: 10px;
        margin-right: 30px;
    }

    .nav-header__buttons {
        display: flex;
    }

    .main__text-fr--tablet {
        display: none;
    }

    .--desktop {
        display: block;
    }
}
