@font-face {
    font-family: "TT Lakes";
    font-weight: 400;
    src: url(fonts/TTLakes/TTLakes-Regular.woff) format('woff'),
        url(fonts/TTLakes/TTLakes-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 500;
    src: url(fonts/TTLakes/TTLakes-Medium.woff) format('woff'),
        url(fonts/TTLakes/TTLakes-Medium.ttf) format('truetype');
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 700;
    src: url(fonts/TTLakes/TTLakes-Bold.woff) format('woff'),
        url(fonts/TTLakes/TTLakes-Bold.ttf) format('truetype');
}

body {
    width: auto;
    font-family: "TT Lakes";
    background-color: #F8F8F8;

    margin: 0;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;

    column-gap: 16px;
}

.header {
    justify-content: space-between;
    background-color: #FFF;
    min-width: 320px;
    
    padding: 16px;
}

.header__logo {
    position: absolute;
    width: 98px;
    height: 52px;
    background-image: url(icons/Logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    position: relative;
    
    padding-left: 0px;
    padding-right: 40px;
}

.header__logo::before,
.header__logo::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 50%;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;

    margin-top: -16px;
}

.header__logo::before {
    left: 0;
    display: none;
}

.header__logo::after {
    right: 0;
}

.header__tablet-container {
    position: relative;

    padding-right: 20px;
}

.header__tablet-container::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 50%;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    right: 0;

    margin-top: -16px;
}

.button {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.3);
}

.desktop-buttons {
    display: none;
}

.navigation-header {
    justify-content: space-between;
    margin-right: 32px;
}

.navigation-header__title {
    font-weight: 700;
    font-size: 27px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
}

.navigation-header__title::before {
    content: "";
    background-image: url(images/highlight.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 4px;
    height: 40px;
    position: absolute;
    left: 0;
}


/* .main {
    overflow: visible;
} */

.navigation {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    padding: 0 20px;
    margin-bottom: 32px;
}

.navigation_button {
    background-color: transparent;
    color: rgb(126, 126, 130);
    border: none;
    white-space: nowrap;
    height: 40px;
    font-size: 16px;
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 5px;
    transition: border 0.2s, background-color 0.2s;
    line-height: 40px;
    padding: 0px 14px;
}

.navigation_button_active {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
}

.navigation_button:hover {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
}

.section__readMore {
    font-size: 16px;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    letter-spacing: -0.4px;
    position: relative;
    text-decoration: none;
    color: black;

    padding-left: 32px;
}

.section__readMore:hover {
    text-decoration: underline;
    cursor: pointer;
}

.section__readMore::before {
    content: "";
    position: absolute;
    background-image: url(icons/Expand.svg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    left: 0;
}

.main-content {
    align-items: flex-start;
}

.main-content__text {
    width: 50%;
}

.main-content__image {
    width: 50%;
    margin-top: 20px;
}

.section__p_tablet {
    display: none;
}

.section__p_desktop {
    display: none;
}



.navigation-header__button {
    position: relative;
    background-color: transparent;
    height: 40px;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 40px;
    border: none;
    border-radius: 8px;
    
    padding-right: 48px;
    margin-right: 20px;
}

.navigation-header__button:hover {
    background-color: #F0F0F0;
    /* cursor: pointer; */
}

.navigation-header__button::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 0;
    border-radius: 50%;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s, box-shadow 0.3s;

    margin-left: 8px;
}

.navigation-header__button:hover::after {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.button_burger {
    background-image: url(icons/Burger.svg);
}

.button_call {
    background-image: url(icons/Call.svg);
}

.button_chat {
    background-image: url(icons/Chat.svg);
}

.button_profile {
    background-image: url(icons/Profile.svg);
}

.button_repair,
.button_icon_repair::after {
    background-image: url(icons/Repair.svg);
}

.button_status,
.button_icon_status::after {
    background-image: url(icons/Status.svg);
}