@font-face {
    font-family: "TT Lakes";
    font-weight: 400;
    src: url(fonts/TTLakes/TTLakes-Regular.woff) format('woff'),
        url(fonts/TTLakes/TTLakes-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 500;
    src: url(fonts/TTLakes/TTLakes-Medium.woff) format('woff'),
        url(fonts/TTLakes/TTLakes-Medium.ttf) format('truetype');
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 700;
    src: url(fonts/TTLakes/TTLakes-Bold.woff) format('woff'),
        url(fonts/TTLakes/TTLakes-Bold.ttf) format('truetype');
}

body {
    width: auto;
    font-family: "TT Lakes";
    background-color: #F8F8F8;

    margin: 0;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;

    column-gap: 16px;
}

.header {
    justify-content: space-between;
    background-color: #FFF;
    padding: 16px;
}

.header__logo,
.aside__logo {
    width: 98px;
    height: 52px;
    background-image: url(icons/Logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    position: relative;

    padding-right: 40px;
}

.header__logo::before,
.header__logo::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 50%;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;

    margin-top: -16px;
}

.header__logo::before {
    left: 0;
    display: none;
}

.header__logo::after {
    right: 0;
}

.header__buttons--tablet {
    position: relative;

    padding-right: 20px;
}

.header__buttons--tablet::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 50%;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    right: 0;

    margin-top: -16px;
}

.round-button,
.header__button,
.nav-header__button,
.aside__header-button,
.aside__footer-button {
    font-family: inherit;
    font-weight: 500;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s, box-shadow 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.round-button:hover,
.header__button:hover,
.nav-header__button:hover,
.aside__footer-button:hover,
.aside__header-button:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.nav-header__buttons {
    display: none;
}

.nav-header {
    justify-content: space-between;
    margin-right: 32px;
}

.nav-header__title {
    font-weight: 700;
    font-size: 27px;

    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 20px;
}

.nav-header__title::before {
    content: "";
    background-image: url(images/highlight.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 4px;
    height: 40px;
    position: absolute;
    left: 0;
}

.nav__list {
    display: flex;
    overflow-x: scroll;
    padding: 0 20px;
    margin-bottom: 32px;
}

.nav__link {
    background-color: transparent;
    color: rgb(126, 126, 130);
    border: none;
    white-space: nowrap;
    height: 40px;
    font-family: inherit;
    font-size: 16px;
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 5px;
    transition: border 0.2s, background-color 0.2s;
    line-height: 40px;
    padding: 6px 20px;
}

.nav__link--active,
.nav__link:hover {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
}

.main__read-more {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    height: 24px;
    letter-spacing: -0.4px;
    position: relative;
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: none;
    border-radius: 8px;

    padding-right: 12px;
    padding-left: 32px;
    padding-top: 14px;
    padding-bottom: 14px;

    transition: background-color 0.3s;

    display: flex;
    align-items: center;
}

.main__read-more:hover {
    cursor: pointer;
    background-color: #EAEAEA;
}

.main__read-more::before {
    content: "";
    position: absolute;
    background-image: url(icons/Expand.svg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    left: 0;
}

.main__content {
    align-items: flex-start;
}

.main__text {
    width: 50%;
}

.main__image {
    width: 50%;
    margin-top: 20px;
}

.main__text-frag--tablet {
    display: none;
}

.main__text-frag--desktop {
    display: none;
}

/* ------------------------------ */

.aside {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 768px;
    width: 320px;
    height: 100%;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
    background-color: #FFFFFF;
}

.aside__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.aside-list {
    margin-top: 30px;
}

.button-icon {
    -webkit-user-drag: none;
}

.aside__button--icon--close {
    margin-left: 24px;
}

.aside__button--icon--search {
    margin-right: 24px;
    margin-left: auto;
}

.aside__list-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    text-align: start;
    background: transparent;
    border: none;
    color: #1B1C21;
    width: 100%;
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
}

.aside__email {
    font-family: inherit;
    font-weight: 500;
}

.aside__list-button:hover::before {
    content: "";
    position: absolute;
    background-color: #41F6D7;
    border-radius: 16px;
    width: 6px;
    height: 38px;
    top: 8px;
    margin-left: -2px;
    left: 0;
}

.aside__list-button:hover {
    color: #7E7E82;
    cursor: pointer;
}

.aside__footer {
    margin-top: auto;
    margin-bottom: 32px;
    margin-left: 24px;
}

.lang-buttons {
    gap: 2px;
}

.lang-button {
    font-family: inherit;
    font-size: 16px;
    border: 1px solid transparent;
    padding: 2px 2px;
    border-radius: 4px;
    background-color: transparent;
    transition: color 0.2s, border 0.2s;
}

.lang-button:hover {
    color: #7E7E82;
    border: 1px solid #7E7E82;
    cursor: pointer;
}

/* ------------------------ */

.nav-header__button {
    margin-left: 140px;
    position: relative;
}

.nav-header__button--icon--status::before,
.nav-header__button--icon--repair::before {
    position: absolute;
    text-wrap: nowrap;
    right: 25px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
}

.nav-header__button--icon--repair::before {
    content: "Оставить заявку";
}

.nav-header__button--icon--status::before {
    content: "Статус ремонта";
}

/* мобилки */
@media (max-width: 768px) {
    .header__buttons--tablet {
        display: none;
    }

    .main__content {
        display: block;
    }

    .main__text {
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
    }

    .main__image {
        width: 100%;
    }

    .main__text-frag {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.3px;
    }
}

/* планшеты */
@media (min-width: 768px) and (max-width: 1120px) {
    .main__content {
        display: flex;
    }

    .main__text {
        width: 50%;
        margin-left: 25px;
        margin-right: 25px;
    }

    .main__image {
        width: 50%;
        border-radius: 10px;
        margin-right: 25px;
    }

    .main__text-frag--tablet {
        display: block;
    }

    .header__logo::before {
        display: inline-block;
    }

    .header__logo::after {
        display: none;
    }
}

/* десктоп */
@media (min-width: 1120px) {

    .header__group-right,
    .header__group-left {
        display: none;
    }

    .header {
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav-header__title {
        margin-left: 30px;
    }

    .nav__list {
        overflow-x: visible;
        flex-wrap: wrap;
        margin-right: 30px;
        margin-left: 30px;
        padding: 0;
    }

    .main__text {
        width: 50%;
        margin-left: 30px;
    }

    .main__image {
        width: 50%;
        border-radius: 10px;
        margin-right: 30px;
    }

    .nav-header__buttons {
        display: flex;
    }

    .main__text-frag--tablet {
        display: none;
    }

    .main__text-frag--desktop {
        display: block;
    }
}

/* @media (min-height: 768px) {
    .aside__footer {
        margin-top: 0;
    }
} */