@font-face {
    font-family: "TT Lakes";
    font-weight: 400;
    src: url(fonts/TTLakes/TTLakes-Regular.woff) format('woff'),
        url(fonts/TTLakes/TTLakes-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 500;
    src: url(fonts/TTLakes/TTLakes-Medium.woff) format('woff'),
        url(fonts/TTLakes/TTLakes-Medium.ttf) format('truetype');
}

@font-face {
    font-family: "TT Lakes";
    font-weight: 700;
    src: url(fonts/TTLakes/TTLakes-Bold.woff) format('woff'),
        url(fonts/TTLakes/TTLakes-Bold.ttf) format('truetype');
}

body {
    width: auto;
    font-family: "TT Lakes";
    margin: 0;
    background-color: #F8F8F8;
}

.page-header {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    align-items: center;
    background-color: #FFF;
    height: 88px;
    padding-left: 16px;
}

.page-header__logo {
    width: 98px;
    height: 52px;
}

.page-header__button {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center;
}

.page-header__button_burger {
    background-image: url(icons/Burger.svg);
}

.page-header__button_repair {
    background-image: url(icons/Repair.svg);
}

.page-header__button_status {
    background-image: url(icons/Status.svg);
    left: 0;
}

.page-header__divider {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    margin-right: 4px;
}

.main {
    margin-left: 16px;
    overflow: hidden;
}

.main__heading {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 27px;
}

.main__heading::before {
    content: "";
    background-image: url(images/highlight.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 4px;
    height: 40px;
    position: absolute;
    left: 0;
}

.main__swiper {
    display: flex;
    flex-wrap: inherit;
    overflow-x: scroll;
    white-space: nowrap;

    width: 100%;

    clip: auto;
    list-style: none;
    padding-inline-start: 0;
}

.main__swiper::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 40px;
    right: 0;
    background: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.main__swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 246px;
    height: 40px;
    color: #7E7E82;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    padding-right: 12px;
    padding-left: 12px;
}

.main__swiper-slide_active {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
}

.main__swiper::-webkit-scrollbar {
    display: none;
}

.main__h4 {
    height: 24px;
    padding-left: 32px;
    line-height: 24px;
    position: relative;
    letter-spacing: -0.4px;
}

.main__h4::before {
    content: "";
    position: absolute;
    background-image: url(icons/Expand.svg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    left: 0;
}

.main__content {
    padding-top: 8px;
    margin-bottom: -5px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.3px;
}

.main__image {
    width: 100%
}